<html>
    <body>
        <table>
            <% students.forEach((item)=>{ %>
                <tr>
                    <td>
                        <%= item.name %>
                    </td>
                    <td>
                        <%= item.age %>
                    </td>
                </tr>
            <% }); %>
        </table>
    </body>
</html>